h1{
    color: white;
    text-transform: uppercase;
    border: 3px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5px;
}

h2 {
    text-transform: uppercase;
}

h2, h3 {
    line-height: 50px;
}

nav li {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 50px;
}

nav li:hover {
    background-color: #302b27;
}

h5{
    color: #9d9d9d;
}

.fab {
    font-size: 50px;
    color: #f0f0f0;
}

.fab:hover {
    color: #9d9d9d;
}

.fa-rss-square{
    color: orange;
    font-size: 30px;
    border-radius: 5px;
    display: inline-block;
}

.left h3 {
    display: inline-block;
}
